<mat-toolbar>
  <mat-toolbar-row>
    <span>Algorithm of the Day</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card class="mat-elevation-z3 featured">
  <mat-card-content *ngIf="!featuredAlgo">
    <mat-spinner></mat-spinner>
  </mat-card-content>

  <mat-card-content *ngIf="featuredAlgo">
    <mat-card-title>{{ featuredAlgo.name | replace: '_':' ' }}</mat-card-title>
    <p>
      {{ featuredAlgo.description }}
    </p>
    <mat-chip-list aria-label="Fish selection">
      <mat-chip *ngFor="let lang of featuredAlgo.langs" (click)="navigate(featuredAlgo.name)">{{ lang.langName }}</mat-chip>
    </mat-chip-list>
  </mat-card-content>
</mat-card>
