<!-- search bar -->
<div class="search-bar-container">
  <mat-form-field class="search-bar">
    <input type="text" placeholder="Search Algorithm" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto" />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (click)="clicked(option)">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</div>

<!-- Categories section -->
<mat-toolbar>
  <mat-toolbar-row>
    <span>Categories</span>
    <span class="spacer"></span>
    <button
      mat-raised-button
      color="primary"
      (click)="changeCategoryView(true)"
      *ngIf="!moreCategories && filteredCategories && filteredCategories.length > 4"
    >
      More<mat-icon>expand_more</mat-icon>
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="changeCategoryView(false)"
      *ngIf="moreCategories && filteredCategories && filteredCategories.length > 4"
    >
      Less<mat-icon>expand_less</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="row-category">
  <div class="col-category" *ngFor="let category of topCategories; let i = index">
    <app-category [category]="category" [index]="i"></app-category>
  </div>
</div>
