.row-category,
.col-category {
  display: flex;
  flex-wrap: wrap;
}

.col-category {
  width: 25%;
  padding: 1%;
  display: flex;
}

.col-category:nth-child(4n+1) {
  padding-left: 0;
}
.col-category:nth-child(4n) {
  padding-right: 0;
}

app-category {
  height: 100%;
  width: 100%;
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar-row button {
  width: 90px;
}

@media (max-width: 610px) {
  .col-category {
    width: 50%;
  }

  .col-category:nth-child(odd) {
    padding-left: 0;
  }
  .col-category:nth-child(even) {
    padding-right: 0;
  }
}
