<!-- Categories header -->
<mat-toolbar>
  <mat-toolbar-row>
    <span>Categories</span>
    <span class="spacer"></span>
    <button
      mat-raised-button
      color="primary"
      (click)="changeCategoryView(true)"
      *ngIf="!moreCategories && filteredCategories && filteredCategories.length > 4"
    >
      More<mat-icon>expand_more</mat-icon>
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="changeCategoryView(false)"
      *ngIf="moreCategories && filteredCategories && filteredCategories.length > 4"
    >
      Less<mat-icon>expand_less</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<!-- Categories -->
<div class="row-category">
  <mat-spinner *ngIf="!topCategories"></mat-spinner>
  <div class="col-category" *ngFor="let category of topCategories; let i = index">
    <app-category [category]="category" [index]="i"></app-category>
  </div>
</div>
